*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-title: Georgia, 'Times New Roman', Times, serif;
    --font-size: 1.2rem;
    --color: #19f;
    --color-light: #adf;
    --color-dark: #018;
    --radius: 0.2rem;
}

body {
    /* margin: 1.5rem; */
    padding: 0;
    display: flex;
    justify-content: center;
}

#root {
    width: 100%;
    max-width: 450px;
    text-align: center;
    padding: 20px;
    margin: 1.5rem;
}

button {
    padding: 12px;
    background-color: white;
    border-radius: 4px;
    margin: 10px;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

input,
textarea {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    padding: 0.8rem;
    border-radius: var(--radius);
    background: #fff;
    transition: 0.2s;
}

.process-card {
    border: 1px solid #ccc;
    border-radius: var(--radius);
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}